@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;700&display=swap");
.h1, .h2, .h3 {
  line-height: 1.428; }

@media (max-width: 576px) {
  body {
    background-color: #000000; } }

@media (min-width: 768px) {
  body {
    background-color: #131313;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='250' height='30' patternUnits='userSpaceOnUse' patternTransform='scale(10)'%3E%3Cpath id='a' data-color='outline' fill='none' stroke='%23000000' stroke-width='5' d='M-62.5-15C-31.3-15 0-7.5 0-7.5S31.3 0 62.5 0 125-7.5 125-7.5s31.3-7.5 62.5-7.5S250-7.5 250-7.5 281.3 0 312.5 0'%3E%3C/path%3E%3Cuse xlink:href='%23a' y='15'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='30'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='45'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; } }

@media (min-width: 1200px) {
  body {
    background-color: #131313;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='250' height='30' patternUnits='userSpaceOnUse' patternTransform='scale(10)'%3E%3Cpath id='a' data-color='outline' fill='none' stroke='%23000000' stroke-width='5' d='M-62.5-15C-31.3-15 0-7.5 0-7.5S31.3 0 62.5 0 125-7.5 125-7.5s31.3-7.5 62.5-7.5S250-7.5 250-7.5 281.3 0 312.5 0'%3E%3C/path%3E%3Cuse xlink:href='%23a' y='15'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='30'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='45'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; } }

.navbar {
  background-color: #131313;
  border-bottom: 2px solid white; }
  @media (max-width: 576px) {
    .navbar img {
      width: 100%; } }
  @media (min-width: 768px) {
    .navbar img {
      width: 50%; } }
  @media (min-width: 1200px) {
    .navbar img {
      width: 50%; } }
  .navbar img:hover {
    transition: transform 125ms;
    transform: translateY(2px); }

.navbar-toggler-icon {
  background-color: white;
  border: 2px solid grey; }

@media (max-width: 576px) {
  #navbarNav {
    text-align: center; } }

@media (min-width: 768px) {
  #navbarNav {
    text-align: left;
    padding-left: 1em; } }

#navbarNav ul li {
  border-color: #fab335; }
  #navbarNav ul li a {
    color: white;
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-size: 1.6rem; }
    #navbarNav ul li a:hover {
      color: #ffc501; }
  #navbarNav ul li .dropdown-menu {
    background-color: #131313;
    border: 2px solid white; }
    #navbarNav ul li .dropdown-menu a {
      font-family: "Zilla Slab", serif;
      font-weight: 400;
      font-size: 1.4rem; }
      #navbarNav ul li .dropdown-menu a:hover {
        color: #c10000; }
    #navbarNav ul li .dropdown-menu .dropdown-item:focus, #navbarNav ul li .dropdown-menu .dropdown-item:hover {
      color: #16181b;
      text-decoration: none;
      background-color: #ffc501; }

.banner img {
  width: 100%; }

.banner h3 {
  color: white;
  font-family: "Zilla Slab", serif; }
  @media (max-width: 576px) {
    .banner h3 {
      font-weight: 700;
      font-size: 0.9rem; } }
  @media (min-width: 768px) {
    .banner h3 {
      font-weight: 700;
      font-size: 1.2rem; } }
  @media (min-width: 1200px) {
    .banner h3 {
      font-weight: 700;
      font-size: 2.5rem; } }

.banner .carousel-item p {
  color: white;
  font-family: "Zilla Slab", serif; }
  @media (max-width: 576px) {
    .banner .carousel-item p {
      font-weight: 400;
      font-size: 0.9rem; } }
  @media (min-width: 768px) {
    .banner .carousel-item p {
      font-weight: 400;
      font-size: 0.9rem; } }
  @media (min-width: 1200px) {
    .banner .carousel-item p {
      font-weight: 400;
      font-size: 1.6rem; } }
  .banner .carousel-item p i {
    color: #1e7e34; }

@media (max-width: 576px) {
  .banner .carousel-caption {
    bottom: 5px; } }

@media (min-width: 768px) {
  .banner .carousel-caption {
    bottom: 20px; } }

@media (min-width: 1200px) {
  .banner .carousel-caption {
    bottom: 20px; } }

h1.tituloPrincipal {
  color: #ffc501;
  font-family: "Zilla Slab", serif;
  background-color: #131313;
  border-bottom: 1px solid #ffc501;
  border-top: 1px solid #ffc501; }
  @media (max-width: 576px) {
    h1.tituloPrincipal {
      font-weight: 400;
      font-size: 1.3rem; } }
  @media (min-width: 768px) {
    h1.tituloPrincipal {
      font-weight: 400;
      font-size: 1.6rem; } }
  @media (min-width: 1200px) {
    h1.tituloPrincipal {
      font-weight: 400;
      font-size: 2.5rem; } }
  h1.tituloPrincipal strong {
    font-weight: 700; }

.opciones {
  color: white;
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: #131313; }
  @media (max-width: 576px) {
    .opciones {
      font-weight: 700;
      font-size: 0.9rem; } }
  @media (min-width: 768px) {
    .opciones {
      font-weight: 700;
      font-size: 0.9rem; } }
  @media (min-width: 1200px) {
    .opciones {
      font-weight: 700;
      font-size: 1.2rem; } }
  .opciones strong {
    font-weight: 700; }

.descripcion {
  color: white;
  font-family: "Zilla Slab", serif; }
  @media (max-width: 576px) {
    .descripcion {
      font-weight: 400;
      font-size: 0.9rem; } }
  @media (min-width: 768px) {
    .descripcion {
      font-weight: 400;
      font-size: 1.2rem; } }
  @media (min-width: 1200px) {
    .descripcion {
      font-weight: 400;
      font-size: 1.4rem; } }
  .descripcion strong {
    font-weight: 700;
    font-size: 1.6rem;
    color: #ffc501; }
    @media (max-width: 576px) {
      .descripcion strong {
        font-weight: 700;
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .descripcion strong {
        font-weight: 700;
        font-size: 1.4rem; } }
    @media (min-width: 1200px) {
      .descripcion strong {
        font-weight: 700;
        font-size: 1.6rem; } }
  .descripcion .btn-primary {
    color: #131313;
    background-color: white;
    border-color: transparent; }
    @media (max-width: 576px) {
      .descripcion .btn-primary {
        font-weight: 700;
        font-size: 0.9rem;
        padding: 4px 8px; } }
    @media (min-width: 768px) {
      .descripcion .btn-primary {
        font-weight: 700;
        font-size: 1.2rem; } }
    @media (min-width: 1200px) {
      .descripcion .btn-primary {
        font-weight: 700;
        font-size: 1.4rem; } }
    .descripcion .btn-primary:hover {
      color: #131313;
      background-color: #ffc501; }

.boton-subir {
  position: fixed;
  right: 3%;
  bottom: 10px;
  padding: 20px;
  display: none;
  opacity: 0.7;
  z-index: 5; }
  .boton-subir a {
    color: #ffc501; }
    @media (max-width: 576px) {
      .boton-subir a {
        font-size: 1.6rem; } }
    @media (min-width: 768px) {
      .boton-subir a {
        font-size: 2.5rem; } }
    @media (min-width: 1200px) {
      .boton-subir a {
        font-size: 2.5rem; } }

#horarios p {
  color: #ffc501;
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-size: 2.5rem; }
  @media (max-width: 576px) {
    #horarios p {
      font-weight: 700;
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    #horarios p {
      font-weight: 700;
      font-size: 1.6rem; } }
  @media (min-width: 1200px) {
    #horarios p {
      font-weight: 700;
      font-size: 2.5rem; } }

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #ffc501;
  background-color: #131313;
  color: white;
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #464544;
  font-family: 'Zilla Slab', serif; }
  .table tbody tr th, .table tbody tr td {
    color: white;
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #464544;
    font-family: 'Zilla Slab', serif; }
    @media (max-width: 576px) {
      .table tbody tr th, .table tbody tr td {
        font-size: 0.9rem; } }
    @media (min-width: 768px) {
      .table tbody tr th, .table tbody tr td {
        font-size: 1.2rem; } }
    @media (min-width: 1200px) {
      .table tbody tr th, .table tbody tr td {
        font-size: 1.2rem; } }

.ancla:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden; }

#contacto {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  color: #c10000;
  font-family: "Zilla Slab", serif; }
  @media (max-width: 576px) {
    #contacto {
      font-weight: 700;
      font-size: 1.2rem; } }
  @media (min-width: 768px) {
    #contacto {
      font-weight: 700;
      font-size: 1.2rem; } }
  @media (min-width: 1200px) {
    #contacto {
      font-weight: 700;
      font-size: 1.6rem; } }
  #contacto label {
    font-size: 1.4rem;
    font-weight: 400; }
    @media (max-width: 576px) {
      #contacto label {
        font-weight: 700;
        font-size: 0.9rem; } }
    @media (min-width: 768px) {
      #contacto label {
        font-weight: 400;
        font-size: 1.2rem; } }
    @media (min-width: 1200px) {
      #contacto label {
        font-weight: 400;
        font-size: 1.4rem; } }
    #contacto label i {
      font-size: 1.2rem; }
  #contacto .form-control {
    border: 2px solid #c10000; }
    #contacto .form-control select {
      width: auto; }
  #contacto .btn-primary {
    color: #131313;
    border-color: transparent;
    background-color: #ffc501;
    border-radius: 5px;
    font-size: 1.2rem; }
    @media (max-width: 576px) {
      #contacto .btn-primary {
        font-size: 0.9rem; } }
    @media (min-width: 768px) {
      #contacto .btn-primary {
        font-size: 1.2rem; } }
    @media (min-width: 1200px) {
      #contacto .btn-primary {
        font-size: 1.2rem; } }
    #contacto .btn-primary:hover {
      color: white;
      transition: 0.3s; }
  #contacto textarea {
    resize: none; }
  #contacto .modal-header {
    border-bottom: none; }
  #contacto .modal-footer {
    border-top: none; }

.preFooter {
  background-color: #131313;
  border-top: 2px solid #ffc501; }
  @media (max-width: 576px) {
    .preFooter img {
      width: 30%; } }
  @media (min-width: 768px) {
    .preFooter img {
      width: auto; } }
  @media (min-width: 1200px) {
    .preFooter img {
      width: auto; } }

#footer {
  background-color: #131313;
  border-top: 2px solid white;
  color: white;
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-size: 1.2rem; }
  #footer h2 {
    line-height: 1.428; }
  #footer a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.2rem; }
    @media (max-width: 576px) {
      #footer a {
        font-weight: 400;
        font-size: 0.9rem;
        text-align: center; } }
    @media (min-width: 768px) {
      #footer a {
        font-weight: 400;
        font-size: 1.2rem; } }
    @media (min-width: 1200px) {
      #footer a {
        font-weight: 400;
        font-size: 1.2rem; } }
    #footer a:hover {
      color: #c10000;
      transition: color .3s ease;
      transition-property: color;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-delay: 0s; }
    #footer a img {
      width: 18%; }
    #footer a .fa-instagram {
      color: white; }
      #footer a .fa-instagram:hover {
        color: #E1306C;
        transition: color .3s ease;
        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s; }
    #footer a .fa-facebook-f {
      color: white; }
      #footer a .fa-facebook-f:hover {
        color: #4267B2;
        transition: color .3s ease;
        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s; }
    #footer a .fa-whatsapp {
      color: white; }
      #footer a .fa-whatsapp:hover {
        color: #25d366;
        transition: color .3s ease;
        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s; }
    #footer a .fa-envelope {
      color: white; }
      #footer a .fa-envelope:hover {
        color: #0072C6;
        transition: color .3s ease;
        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s; }
  #footer i {
    color: #ffc501; }
  #footer .proyecto p {
    color: #ffc501;
    font-size: 0.8rem; }
  #footer p {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0; }
    @media (max-width: 576px) {
      #footer p {
        font-weight: 400;
        font-size: 0.9rem; } }
    @media (min-width: 768px) {
      #footer p {
        font-weight: 400;
        font-size: 1.2rem; } }
    @media (min-width: 1200px) {
      #footer p {
        font-weight: 400;
        font-size: 1.2rem; } }

.container .card-deck .card {
  background-color: transparent;
  border: 0; }
  .container .card-deck .card .card-body .card-title {
    color: #131313;
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-size: 1.6rem;
    background-color: white; }
  .container .card-deck .card .card-body .card-text {
    color: #131313;
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: #ffc501; }

.titulos {
  color: #c10000;
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-size: 2.5rem;
  background-color: white; }

.bordeTitulos {
  border: 8px solid white;
  border-radius: 1.25rem; }

#bebidas .card-title {
  color: #131313;
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: #ffc501; }
