// Body
.body-bg{
	background-color: #131313;
}
.h1, .h2, .h3,{
	line-height: 1.428;
}
// NavBar
.navbar{
	background-color: $colorNegro;
	border-bottom: 2px solid $colorBlanco;
  img{
  	&:hover{
  		transition: transform 125ms;
  		transform: translateY(2px);
  	}
  }
}
.navbar-toggler-icon{
	background-color: $colorBlanco;
	border: 2px solid grey;
}
#navbarNav{;
	@media (max-width: $smartphone) {
		text-align: center;
	}
	@media (min-width: $tablet) {
		text-align: left;
		padding-left: 1em;
	}
	ul{
		li{
			border-color: #fab335;
			a{
				color: $colorBlanco;
				font-family: $font;
				font-weight: $weight-l;
				font-size: $size-l;
				&:hover{
					color: $colorPrimario;
				}
			}
			.dropdown-menu{
				background-color: #131313;
				border: 2px solid $colorBlanco;
				a{
					font-family: $font;
					font-weight: $weight-m;
					font-size: $size-m;
					&:hover{
						color: $colorSecundario;
					}
				}
				.dropdown-item:focus, .dropdown-item:hover {
					color: #16181b;
				  text-decoration: none;
				  background-color: $colorPrimario;
				}				
			}
		}
	}
}
.banner{
	img{
		width: 100%;
	}
	h3 {
		color: $colorBlanco;
		font-family: $font;
		@media (max-width: $smartphone) {
			font-weight: $weight-l;
			font-size: $size-xs;
		}
		@media (min-width: $tablet) {
			font-weight: $weight-l;
			font-size: $size-s;
		}
		@media (min-width: $desktop) {
			font-weight: $weight-l;
			font-size: $size-xl;
		}
	}
	.carousel-item p{
		color: $colorBlanco;
		font-family: $font;
		@media (max-width: $smartphone) {
			font-weight: $weight-m;
			font-size: $size-xs;
		}
		@media (min-width: $tablet) {
			font-weight: $weight-m;
			font-size: $size-xs;
		}
		@media (min-width: $desktop) {
			font-weight: $weight-m;
			font-size: $size-l;
		}
		i{
			color: #1e7e34;
		}
	}
}
// Main
h1.tituloPrincipal{
	color: $colorPrimario;
	font-family: $font;
	background-color: $colorNegro;
	border-bottom: 1px solid $colorPrimario;
	border-top: 1px solid $colorPrimario;
	@media (max-width: $smartphone) {
		font-weight: $weight-m;
		font-size: $size-m;
	}
	@media (min-width: $tablet) {
		font-weight: $weight-m;
		font-size: $size-l;
	}
	@media (min-width: $desktop) {
		font-weight: $weight-m;
		font-size: $size-xl;
	}
	strong{
		font-weight: $weight-l;
	}
}

.opciones{
	color: $colorBlanco;
	font-family: $font;
	font-weight: $weight-l;
	font-size: $size-s;
	background-color: $colorNegro;
	@media (max-width: $smartphone) {
		font-weight: $weight-l;
		font-size: $size-xs;
	}
	@media (min-width: $tablet) {
		font-weight: $weight-l;
		font-size: $size-xs;
	}
	@media (min-width: $desktop) {
		font-weight: $weight-l;
		font-size: $size-s;
	}
	strong{
		font-weight: $weight-l;
	}
}

.descripcion{
	color: $colorBlanco;
	font-family: $font;
	@media (max-width: $smartphone) {
		font-weight: $weight-m;
		font-size: $size-xs;
	}
	@media (min-width: $tablet) {
		font-weight: $weight-m;
		font-size: $size-s;
	}
	@media (min-width: $desktop) {
		font-weight: $weight-m;
		font-size: $size-m;
	}
	strong{
		font-weight: $weight-l;
		font-size: $size-l;
		color: $colorPrimario;
		@media (max-width: $smartphone) {
			font-weight: $weight-l;
			font-size: $size-s;
		}
		@media (min-width: $tablet) {
			font-weight: $weight-l;
			font-size: $size-m;
		}
		@media (min-width: $desktop) {
			font-weight: $weight-l;
			font-size: $size-l;
		}
	}
	.btn-primary {
		color: $colorNegro;
	  background-color: $colorBlanco;
	  border-color: transparent;
		@media (max-width: $smartphone) {
			font-weight: $weight-l;
			font-size: $size-xs;
			padding: 4px 8px;
		}
		@media (min-width: $tablet) {
			font-weight: $weight-l;
			font-size: $size-s;
		}
		@media (min-width: $desktop) {
			font-weight: $weight-l;
			font-size: $size-m;
		}
	  &:hover{
	    color: $colorNegro;
	    background-color: $colorPrimario;
	  }
  }
}

// Boton volver arriba
.boton-subir {
  position: fixed;
  right: 0%;
  bottom: 10px;
  padding: 20px;
  display: none;
  opacity: 0.7;
  z-index: 5;
  a{
  	color: $colorPrimario;
 		@media (max-width: $smartphone) {
			font-size: $size-l;
		}
		@media (min-width: $tablet) {
			font-size: $size-xl;
		}
		@media (min-width: $desktop) {
			font-size: $size-xl;
		}
  }
}

// Horarios
#horarios{
	p{
		color: $colorPrimario;
		font-family: $font;
		font-weight: $weight-l;
		font-size: $size-xl;
		@media (max-width: $smartphone) {
			font-weight: $weight-l;
			font-size: $size-s;
		}
		@media (min-width: $tablet) {
			font-weight: $weight-l;
			font-size: $size-l;
		}
		@media (min-width: $desktop) {
			font-weight: $weight-l;
			font-size: $size-xl;
		}		
	}
}
// .table td, .table th {
// 	color: $colorBlanco;
// 	padding: .75rem;
//   vertical-align: top;
//   border: 1px solid #464544;
//   font-family: 'Zilla Slab', serif;
// 	@media (max-width: $smartphone) {
// 		font-size: $size-xs;
// 	}
// 	@media (min-width: $tablet) {
// 		font-size: $size-s;
// 	}
// 	@media (min-width: $desktop) {
// 		font-size: 1.2rem;
// 	}  
// }
.table {
	width: 100%;
  margin-bottom: 1rem;
  color: #ffc501;
  background-color: #131313;
  color: $colorBlanco;
	padding: .75rem;
  vertical-align: top;
  border: 1px solid #464544;
  font-family: 'Zilla Slab', serif;
  tbody{
  	tr{
  		th,td{
	  		color: $colorBlanco;
				padding: .75rem;
			  vertical-align: top;
			  border: 1px solid #464544;
			  font-family: 'Zilla Slab', serif;
				@media (max-width: $smartphone) {
					font-size: $size-xs;
				}
				@media (min-width: $tablet) {
					font-size: $size-s;
				}
				@media (min-width: $desktop) {
					font-size: 1.2rem;
				}
			}
		}
  }
}

// Salto a formulario,
// el header es sticky y ocupa px,
// entonces el salto queda mal ubicado
.ancla:before {       
  display: block;
  content: " ";
  margin-top: -100px;  
  height: 100px;
  visibility: hidden;
}
// Formulario
#contacto{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
	color: $colorSecundario;
	font-family: $font;
	@media (max-width: $smartphone) {
		font-weight: $weight-l;
		font-size: $size-s;
	}
	@media (min-width: $tablet) {
		font-weight: $weight-l;
		font-size: $size-s;
	}
	@media (min-width: $desktop) {
		font-weight: $weight-l;
		font-size: $size-l;
	}
	label{
		font-size: $size-m;
  	font-weight: $weight-m;
		@media (max-width: $smartphone) {
			font-weight: $weight-l;
			font-size: $size-xs;
		}
		@media (min-width: $tablet) {
			font-weight: $weight-m;
			font-size: $size-s;
		}
		@media (min-width: $desktop) {
			font-weight: $weight-m;
			font-size: $size-m;
		}
  	i{
  		font-size: $size-s;
  	}
  }
  .form-control{
  	border: 2px solid $colorSecundario;
  	select{
  		width: auto;
  	}
  }
	.btn-primary{
		color: $colorNegro;
		border-color: transparent;
		background-color: $colorPrimario;
		border-radius: 5px;
		font-size: $size-s;
		@media (max-width: $smartphone) {
			font-size: $size-xs;
		}
		@media (min-width: $tablet) {
			font-size: $size-s;
		}
		@media (min-width: $desktop) {
			font-size: $size-s;
		}	
		&:hover{
			color: $colorBlanco;
			transition: 0.3s;
		}
	}
	textarea{
		resize: none;
	}
	.modal-header{
		border-bottom: none;
	}
	.modal-footer{
		border-top: none;
	}
}

//Pre-footer
.preFooter{
	background-color: $colorNegro;
	border-top: 2px solid $colorPrimario;
	img{
		@media (max-width: $smartphone) {
			width: 30%;
		}
		@media (min-width: $tablet) {
			width: auto;
		}
		@media (min-width: $desktop) {
			width: auto;
		}		
	}
}


// Footer
#footer{
	background-color: #131313;
	border-top: 2px solid $colorBlanco;
	color: $colorBlanco;
	font-family: $font;
	font-weight: $weight-s;
	font-size: $size-s;
	h2{
		line-height: 1.428;
	}
	a{
		text-decoration: none;
		color: $colorBlanco;
		font-weight: $weight-m;
		font-size: $size-s;
		@media (max-width: $smartphone) {
			font-weight: $weight-m;
			font-size: $size-xs;
			text-align: center;
		}
		@media (min-width: $tablet) {
			font-weight: $weight-m;
			font-size: $size-s;
		}
		@media (min-width: $desktop) {
			font-weight: $weight-m;
			font-size: $size-s;
		}
		&:hover{
			color: $colorSecundario;
			transition: color .3s ease;
    	transition-property: color;
    	transition-duration: 0.3s;
    	transition-timing-function: ease;
    	transition-delay: 0s;
		}
		img{
			width: 18%;
		}
		.fa-instagram{
			color: $colorBlanco;
			&:hover{
				color: #E1306C;
				transition: color .3s ease;
	    	transition-property: color;
	    	transition-duration: 0.3s;
	    	transition-timing-function: ease;
	    	transition-delay: 0s;
	    }
	  }
		.fa-facebook-f{
			color: $colorBlanco;
			&:hover{
				color: #4267B2;
				transition: color .3s ease;
	    	transition-property: color;
	    	transition-duration: 0.3s;
	    	transition-timing-function: ease;
	    	transition-delay: 0s;
	    }
		}
		.fa-whatsapp{
			color: $colorBlanco;
			&:hover{
				color: #25d366;
				transition: color .3s ease;
	    	transition-property: color;
	    	transition-duration: 0.3s;
	    	transition-timing-function: ease;
	    	transition-delay: 0s;
	    }	
		}
		.fa-envelope{
			color: $colorBlanco;
			&:hover{
				color: #0072C6;
				transition: color .3s ease;
	    	transition-property: color;
	    	transition-duration: 0.3s;
	    	transition-timing-function: ease;
	    	transition-delay: 0s;
	    }	
		}
	}
	i{
		color: $colorPrimario;
	}
	.proyecto{
		p{
			color: $colorPrimario;
			font-size: $size-xs;
		}
	}
	p{
		font-weight: $weight-m;
		font-size: $size-s;
		margin-bottom: 0;
		@media (max-width: $smartphone) {
			font-weight: $weight-m;
			font-size: $size-xs;
		}
		@media (min-width: $tablet) {
			font-weight: $weight-m;
			font-size: $size-s;
		}
		@media (min-width: $desktop) {
			font-weight: $weight-m;
			font-size: $size-s;
		}
	}
}