.container{
	.card-deck{
		.card{
			background-color: transparent;
			border: 0;
			.card-body{
				.card-title{
					color: $colorNegro;
					font-family: $font;
					font-weight: $weight-l;
					font-size: $size-l;
					background-color: $colorBlanco;
				}
				.card-text{
					color: $colorNegro;
					font-family: $font;
					font-weight: $weight-m;
					font-size: $size-s;
					background-color: $colorPrimario;
				}
			}
		}
	}
}
.titulos{
	color: $colorSecundario;
	font-family: $font;
	font-weight: $weight-l;
	font-size: $size-xl;
	background-color: $colorBlanco;
}
.bordeTitulos{
	border: 8px solid $colorBlanco;
	border-radius: 1.25rem;
}

// HMTL Bebidas
#bebidas .card-title{
	color: $colorNegro;
	font-family: $font;
	font-weight: $weight-l;
	font-size: $size-l;
	background-color: $colorPrimario;
}